<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="name">famee</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="apple">Apple<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="bitcoin">Bitcoin</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="business">Bussiness<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="tech">TechCrunch<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="wallstreet">Wall Street<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>



